<div class="col-md-2 bj">
    <ul>
        <li><a [routerLink] = "['/login']">系统菜单</a></li>
        <li><a [routerLink] = "['/index']">index</a></li>
        <!-- <li><a [routerLink]="[ '/one']">one</a></li> -->
        <li><a [routerLink]="['/one','username']">one</a></li>
        <li><a [routerLink]="['/two']" [queryParams]="{id:3,name:'账上'}">two</a></li>
        <li><a [routerLink]="['/addstus']">添加学生</a></li>
        <li><a [routerLink]="['/chastu']">查询学生</a></li>
        <li><a [routerLink]="['/myserve']">调用service</a></li>
        <li><a href = "#">系统菜单</a></li>
    </ul>
</div>