.tou{
height: 100px;
background-color: aquamarine;
}
.mn{
    height: 800px;
    background-color: blanchedalmond;
}
.zhuti{
    height: 800px;
    background-color: yellowgreen;
}
.back{
    background-color: rebeccapurple;

}